body {
        margin: 0;
    }
    .main-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-page p {
        font-size: 40px;
        color: brown;
    }
    span {
      opacity: 0;
      display: inline-block;
      animation: fadeIn 0.3s forwards;
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }